#__next {
  min-height: 100vh;
  display: grid;
  background-color: #f0f2f5;
  grid-template-rows: auto 1fr auto;
}

$font-base-size: 16px;
$font-base-color: #2F2F2F;

h1 {
  color: #2F2F2F;
  font-size: 35px;
  margin-bottom: 20;
}

h2 {
  color: #606060;
  font-size: 20px;
}

.ant-btn{
  border-radius: 8px;
}

.ant-btn-circle{
  border-radius: 50%;
}

.ant-layout-has-sider{
  min-height: 100vh;
}

.logo {
  height: 40px;
  height: 40px;
  border-radius: 80px;
  border: solid 3px #777777;
  margin-right: 10px;
}

.logo-area {
  width: 260px;
  height: 43px;
  margin: 16px 5px 5px 16px;
  
}

.logo-title {
  color: #646464;
  font-weight: bold;
  font-size: 26px;
  vertical-align: middle;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.ant-input {
  border-radius: 8px;
  color: $font-base-color;
  font-size: $font-base-size;
}

.ant-menu-item {
  font-size: $font-base-size;
}
.ant-layout-sider-zero-width-trigger{
  top: 0px;
}
