#__next {
  min-height: 100vh;
  display: grid;
  background-color: #f0f2f5;
  grid-template-rows: auto 1fr auto;
}

$font-base-size: 16px;
$font-base-color: #2F2F2F;

h1 {
  color: $font-base-color;
  font-size: 35px;
  margin-bottom: 20;
}

h2 {
  color: #606060;
  font-size: 20px;
}

.ant-btn{
  border-radius: 8px;
}

.ant-btn-circle{
  border-radius: 50%;
}

.ant-layout-has-sider{
  min-height: 100vh;
}

.site-layout-sub-header-background {
  background: #fff;
}

.site-layout-background {
  background: #fff;
}

[data-theme="dark"] .site-layout-sub-header-background {
  background: #141414;
}

.ant-input {
  border-radius: 8px;
  color: $font-base-color;
  font-size: $font-base-size;
}

.ant-menu-item {
  font-size: $font-base-size;
}

.ant-layout-sider-zero-width-trigger {
  top: 0px;
}

.ml-10 {
  margin-left: 10px;
}

.ml-20 {
  margin-left: 20px;
}

.mb-20 {
  margin-bottom: 20px;
}

.button-area {
  text-align: center;
}

.action-button {
  width: 200px;
}