.modelEdit {
  width: 270px;
  margin-bottom: 30px;
}

.modelName {
  font-size: 18px;
  border-radius: 8px;
  color: #fff;
  display: inline-block;
  width: 220px;
  background-color: #8D8D8D;
  padding: 4px 11px;
}